<div class="jumbotron" style="background-color:#f9f8f4; border:solid #1c293f">
  <div class="form-group">
    <%= form_tag(controller: "schedules", action: "getRouteVariant", method: "post") do %>
      <%= label_tag(:select_route_variant_label, "Pick a route variant:") %>
      <%= hidden_field_tag(:select_date, @userSelectedDate) %>
      <%= hidden_field_tag(:select_route, @userSelectedRoute) %>
      <%= select_tag(:select_route_variant, options_for_select(@routeVariants), {class:"form-control"}) %>
      </br>
      <%= submit_tag("Submit form", {class: "btn btn-primary btn-lg outline"}) %>
    <% end %>
  </div>
</div>
