<div class="jumbotron">
  <h1>preferences#show</h1>
  <% if @preference.nil? %>
    <p>Wanna create preference?</p>
    <%= link_to "Create", new_user_preference_path, class: "btn btn-primary" %>
  <% else %>
    <!-- shows saved preference  -->
    <%= @preference.route %>
    <%= @preference.from_stop %>
    <%= @preference.to_stop %>

    <%= link_to "Edit", edit_user_preference_path, class: "btn btn-primary" %>
    <%= link_to "Delete", user_preference_path, class: "btn btn-success", method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
